{% extends 'base.html' %}

{% block content %}
    <div class="container w-75">
        <h1>{{ post.title }}</h1>
        <span>{{ post.author }}</span>
        <span>{{ post.date }}</span>
        <img src="{{ url_for('static', filename='images/' + post.image_filename) }}" class="card-img-top p-5" alt="...">
        <p>{{ post.text }}</p>
        
        <form>
            <div class="form-group">
              <label for="leaveComment">Оставьте комментарий</label>
              <textarea class="form-control m-2" id="leaveComment" rows="3"></textarea>
              <button type="submit" class="btn btn-primary mb-2">Отправить</button>
            </div>
          </form>

        {% for comment in post.comments %}
        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <h5><b>{{ comment.author }}</b></h5>
                <p>{{ comment.text }}</p>
                
                {% for reply in comment.replies %}
                    <div class="d-flex mt-4">
                        <div class="flex-grow-1 ms-3">
                            <h5><b>{{ reply.author }}</b></h5>
                            <p>{{ reply.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}